<h1> this is the about page </h1>
<h4>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna nulla, maximus vitae lorem vel, venenatis interdum velit. Nunc ornare urna eu congue bibendum. Sed molestie nulla lectus, ut pulvinar sem cursus at. Donec diam elit, pharetra non odio ut, faucibus tempus risus. Duis auctor ipsum lacus, at finibus elit cursus sit amet. Phasellus est neque, lobortis ac dui at, accumsan bibendum ligula. Donec vel hendrerit purus, vel semper arcu. In scelerisque velit eu metus ultrices pellentesque non viverra ex. Fusce molestie, sapien id pretium fringilla, augue nibh commodo lectus, ac fringilla lorem sem sit amet est. Maecenas eget elit quam. Aliquam erat volutpat. Pellentesque at lorem massa. Donec in ex nec ipsum feugiat mollis sit amet sit amet lacus. In at commodo elit. Praesent vulputate ultrices augue, sit amet molestie leo fringilla eget. Quisque sit amet condimentum enim. Morbi sagittis vitae justo quis rutrum. Aenean dignissim urna vitae aliquet.
<h4>
<%= link_to('contact us', {:action => 'contact', :country => 'uk'}) %>
